.btn-dark{

    background-color: black;
    border-radius: 6%;
    
}

.navbar-custom {
    background-color: black;
}

.bg-primary {
    background-color: rgb(50,59,67)!important;
}

/* .modal-content{
    background:transparent;
    border: none;
    border-radius: 15px;
    width: 420px;
    overflow: hidden;
} */




